# Python Version: 3.12.13
llama-index
llama-index-embeddings-huggingface
pinecone
python-dotenv
ruff
sentence-transformers
torch==2.2.2
numpy==1.26.4
transformers==4.57.6
faster-whisper
streamlit
pytest
