
llama-index
llama-index-embeddings-huggingface
pinecone
python-dotenv
ruff
sentence-transformers
torch
numpy
transformers
faster-whisper
llama-index-vector-stores-pinecone
llama-index-llms-huggingface-api
streamlit
pytest
opencv-python
Pillow
huggingface_hub
